html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $funtePrincipal;
    font-size: 1.6rem;
}

p{
    font-size: 1.8rem;
}
.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
     
}

a{
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1{
    font-size: 4rem;
    
}
h2{
    font-size: 3rem;
    
}
h3{
    font-size: 2rem;
}

